[submodule "thirdparty/XEDParse"]
	path = thirdparty/XEDParse
	url = https://github.com/x64dbg/XEDParse.git
[submodule "thirdparty/asmjit"]
	path = thirdparty/asmjit
	url = https://github.com/kobalicek/asmjit.git
[submodule "thirdparty/MultiNEAT"]
	path = thirdparty/MultiNEAT
	url = https://github.com/peter-ch/MultiNEAT.git
